################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/source/ThroatHurts/ThroatHurts/bin
/source/ThroatHurts/ThroatHurts/obj
/source/ThroatHurts/ThroatHurts.Android/obj
/source/ThroatHurts/ThroatHurts.Android/bin
/source/.vs/ThroatHurts/v16
